body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  background-color: black;
  min-width: 70%;

}

.mainHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1;
  flex-wrap: wrap;
}
.navbar {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar h3 {
  border: 2.5px solid rgb(97, 18, 18);
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  background-color: white;
}
.navbar h5 {
  border: 2.5px solid rgb(97, 18, 18);
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  background-color: white;
}
main {
  display: flex;
  flex-direction: column;
}

.imageSalud {
  border: 1px solid rgb(9, 9, 9);
  max-width: 100%;
  opacity: 0.9;
}

.whatsappButton {
  padding: 15px;
  text-align: center;
  position: fixed;
  margin-top: 450px;
  margin-left: 87%;
  z-index: 1;
}

.playfair-display-gaston {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.information {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 250px;
  margin-left: 17%;
  z-index: 1;
}
.information h1 {
  padding: 15px;
  text-align: center;
  border: 1px solid rgb(9, 9, 9);
}

.playfair-display-information {
  font-family: "Playfair Display", serif;
  font-optical-sizing: 500;
  font-weight: 600;
  font-style: italic;
}

.activo {
  color: green;
}

a {
  color: blue;
}

footer {
  width: auto;
  background-color: rgb(45, 49, 87);
  padding: 50px;
}

footer p {
  color: beige;
  text-align: left;
}

footer a {
  color: beige;
}
.contact {
  display: flex;
  text-align: center;
  width: 80%;
  gap: 20px;
  justify-content: flex-start;
  align-content: stretch;
  flex-wrap: wrap;
}

.contactCard {
  width: 150px;
  border: 3px solid rgb(176, 109, 109);
  padding: 5px;
  text-align: center;
  color: rgb(152, 38, 38);
}



/*----------------ANIMATIONS ------------------------------------------*/

.flip-scale-down-diag-1 {
  -webkit-animation: flip-scale-down-diag-1 3s linear both;
  animation: flip-scale-down-diag-1 2s linear both;
}

@-webkit-keyframes flip-scale-down-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.4) rotate3d(1, 1, 0, -90deg);
    transform: scale(0.4) rotate3d(1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
}
@keyframes flip-scale-down-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.4) rotate3d(1, 1, 0, -90deg);
    transform: scale(0.4) rotate3d(1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
}
